<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="includes/header :: heading">

    </head>
<body>
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid p-2">
        <a class="navbar-brand" th:href= "@{/}">SpringStore</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:text="${!session.isEmpty()} ? 'Logout'"  th:href="@{/Customer/account/logout}"></a>
                </li>
            </ul>
            <form class="d-flex" role="search" >
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">S/N</th>
            <th scope="col">Product Name</th>
            <th scope="col">Category</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
        </tr>
        </thead>
        <ta>
            <tr th:each="product : ${Products}">
                <th scope="row" ></th>
                <td th:text="${product.productName}"></td>
                <td th:text="${product.productCategory}"></td>
                <td th:text="${product.productPrice}"></td>
                <td th:text="${product.productQuantity}"></td>
                <td><a class="btn btn-info" th:href="@{/Admin/EditProduct/{id}(id=${product.getProdId()})}">Edit</a>&nbsp;
                    <a class="btn btn-danger" th:href="@{/Admin/deleteProduct/{id}(id=${product.getProdId()})}"> Delete</a>
                </td>
            </tr>
            </ta>
    </table>
</div>
</body>
</html>